</div>
<section id="footer">
    <p>
        <a href="" class="ic1">
            <i class="fa-brands fa-twitter ic2"></i>
        </a>
        <a href="" class="ic1">
            <i class="fa-brands fa-facebook ic2"></i>
        </a>
        <a href="" class="ic1">
            <i class="fa-brands fa-instagram ic2"></i>
        </a>
        <a href="" class="ic1">
            <i class="fa-solid fa-envelope ic2"></i>
        </a>
    </p>
    <p class="footer_p">© Copyright Grocery Store</p>
    <script src="grocer_account_page.js">
        var a = 5;
    </script>
</section>

</body>

<style>
    #footer {
      height: 100px;
      flex-shrink: 0;
      background-color: rgb(146, 226, 27);
      text-align: center;
      font-size: 25px;
      padding: 10% 15%;
    }

    .ic1 {
        padding-left: 10px;
        color: black;
        text-decoration: none;
    }

    .ic1:hover {
        color: white;
    }

    .ic2:hover {
        text-decoration: none;
    }

    .footer_p {
        margin-bottom: 10%;
        font-family: 'IBM Plex Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
</style>

</html>